html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #eee;
  overflow: hidden;
}

#main {
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  display: flex;
  margin: 32px;
  background: #fff;
}

.chain-column, .block-column, .bp-column {
  width: 300px;
  overflow-y: auto;
  display: flex;
  margin: 0 16px;
}

.swarm-column {
  flex-grow: 1;
  margin: 0 16px;
}

.chain-column, .block-column, .bp-column, .swarm-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chain-container, #block-container, #bp-container {
  overflow-y: auto;
}

/* chain */

/* block */

/* swarm */

.swarm-cvs-container {
  flex-grow: 1;
  background: #dcdcdc;
  width: 100%;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
}

.swarm-cvs-container #swarm-node-cvs {
  width: 100%;
  height: 100%;
}

.swarm-cvs-container #swarm-tooltip-container {
  position: absolute;
  top: 40px;
  left: 40px;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
}

.swarm-tooltip-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
}

.swarm-tooltip-wrapper.horizontal {
  flex-direction: column;
}

.swarm-tooltip-wrapper .swarm-tooltip-card {
  display: flex;
}

.swarm-tooltip-wrapper.vertical .swarm-tooltip-card {
  flex-direction: column;
}

.swarm-tooltip-wrapper.horizontal .swarm-tooltip-card:not(:last-child) {
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: solid 1px #333;
}

.swarm-tooltip-wrapper.vertical .swarm-tooltip-card:not(:last-child) {
  margin-right: 8px;
  padding-right: 8px;
  border-right: solid 1px #333;
}

.swarm-tooltip-wrapper.horizontal .swarm-tooltip-card div + div {
  margin-left: 24px;
  position: relative;
}

.swarm-tooltip-wrapper.horizontal .swarm-tooltip-card div + div::before {
  content: '→';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 4px), -50%);
}

.swarm-tooltip-wrapper.vertical .swarm-tooltip-card div + div {
  margin-top: 24px;
  position: relative;
}

.swarm-tooltip-wrapper.vertical .swarm-tooltip-card div + div::before {
  content: '↓';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, calc(-100% - 2px));
}

.swarm-tooltip-card div {
  padding: 12px;
}

.swarm-tooltip-card .tx {
  background: #1890ff;
}

.swarm-tooltip-card .bp {
  background: #52c41a;
}

.swarm-tooltip-card .block {
  background: #722ed1;
}

.swarm-tooltip-card .fork {
  background: #faad14;
}

.swarm-tooltip-card .invalid {
  background: #8c8c8c;
}


/* bp */
.bp-container {
  border: solid 1px #dcdcdc;
  border-radius: 4px;
  margin: 16px;
  padding: 16px;
  animation: yellow-fade 2s linear 1
}

.bp-type {
  margin-right: 8px;
  color: #666;
  width: 4em;
  display: inline-block;
}

@keyframes yellow-fade {
  0% {
    background: #fff;
  }
  50% {
    background: #fff1b8;
  }
  100% {
    background: #fff;
  }
}