@use 'sass:map';
@use 'sass:meta';
/*************** basic ***************/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #eee;
  overflow: hidden;
  #main {
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    display: flex;
    margin: 32px;
    background: #fff;
  }
}

.chain-column, .block-column, .bp-column, .swarm-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
}

.chain-column, .block-column, .bp-column {
  width: 300px;
  overflow-y: auto;
  max-height: 75vh;
}

.swarm-column {
  flex-grow: 1;
}

#chain-container, #block-container, #bp-container {
  overflow-y: auto;
}

/*************** swarm ***************/
@mixin swarm-tooltip-wrapper-layout($layout) {
  $card-flex-direction: row;
  $tooltip-flex-direction: column;
  $tooltip-card-margin-direction: right;
  $tooltip-margin-direction: top;
  @if $layout == horizontal {
    $card-flex-direction: column;
    $tooltip-flex-direction: row;
    $tooltip-card-margin-direction: bottom;
    $tooltip-margin-direction: left;
  }

  flex-direction: $card-flex-direction;
  .swarm-tooltip-card {
    flex-direction: $tooltip-flex-direction;
    &:not(:last-child) {
      margin-#{$tooltip-card-margin-direction}: 8px;
      padding-#{$tooltip-card-margin-direction}: 8px;
      border-#{$tooltip-card-margin-direction}: solid 1px #333;
    }
    .swarm-tooltip + .swarm-tooltip {
      margin-#{$tooltip-margin-direction}: 24px;
    }
  }
}

$tooltip-bg-map: (
  'tx': #1890ff,
  'bp': #52c41a,
  'block': #722ed1,
  'fork': #722ed1,
  'invalid': #8c8c8c,
);

@mixin tooltip-bg($selectors...) {
  @for $i from 0 to length($selectors) {
    $type: nth($selectors, $i + 1);
    &.#{$type} {
      background-color: map.get($tooltip-bg-map, #{$type});
    }
  }
}

.swarm-cvs-container {
  flex-grow: 1;
  background: #dcdcdc;
  width: 100%;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
  #swarm-node-cvs {
    width: 100%;
    height: 100%;
  }
  #swarm-tooltip-container {
    position: absolute;
    top: 40px;
    left: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);

    .swarm-tooltip-wrapper {
      position: absolute;
      display: flex;
      flex-direction: row;
      .swarm-tooltip-card {
        display: flex;
        .swarm-tooltip {
          padding: 12px;
          @include tooltip-bg('tx', 'bp', 'block', 'fork', 'invalid');
          &.to-remove {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
          }
        }
      }
      &.horizontal {
        @include swarm-tooltip-wrapper-layout(horizontal)
      }
      &.vertical {
        @include swarm-tooltip-wrapper-layout(vertical)
      }
    }
  }
}

/*************** chain, block, bp ***************/
@keyframes yellow-fade {
  0% {
    background: #fff;
  }
  50% {
    background: #fff1b8;
  }
  100% {
    background: #fff;
  }
}

@mixin container($types...) {
  @for $i from 0 to length($types) {
    $type: nth($types, $i + 1);

    .#{$type}-container {
      border: solid 1px #dcdcdc;
      border-radius: 4px;
      margin: 16px;
      padding: 16px;
      animation: yellow-fade 2s linear 1;
    }
    .#{$type}-type {
      margin-right: 8px;
      color: #666;
      width: 4em;
      display: inline-block;
    }
  }
}

@include container('chain', 'block', 'bp');

/*************** simulator control ***************/

#control-simulator {
  position: absolute;
  top: 100px;
  left: 100px;
  border: solid 1px #dcdcdc;
  box-shadow: 0 0 4px 0 #000;
  // padding: 8px 16px;
  border-radius: 4px;
  background: #fff;
  user-select: none;
  .w3-form {
    margin: 8px 16px;
  }
  .control-simulator__dragging-bar {
    height: 24px;
    width: 100%;
    cursor: move;
    color: #dcdcdc;
    text-align: center;
    &:hover {
      background: #dcdcdc;
      color: #fff;
    }
  }
}

/*************** common form ***************/

$primary-color: #1890ff;
$primary-hover-color: #40a9ff;
$primary-active-color: #096dd9;

.w3-btn {
  border: solid 1px #dcdcdc;
  padding: 2px 8px;
  min-width: 40px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  &--selected {
    border-color: $primary-color;
    color: $primary-color;
  }
  &:hover {
    border-color: $primary-hover-color;
    color: $primary-hover-color;
  }
  &:active {
    border-color: $primary-active-color;
    color: $primary-active-color;
  }
  & + .w3-btn {
    margin-left: 8px;
  }
  &--primary {
    color: #fff;
    background: $primary-color;
    border-color: $primary-color;
    &:hover {
      background: $primary-hover-color;
      color: #fff;
    }
    &:active {
      background: $primary-active-color;
      color: #fff;
    }
  }
}

.w3-btn-group {
  display: flex;
  .w3-btn {
    margin-left: 0;
    &:not(:last-child, :hover, :active, &--selected) {
      border-right-width: 0;
    }
    &:hover, &:active, &--selected {
      & + .w3-btn {
        border-left-width: 0;
      }
    }
    &:not(:last-child, :first-child) {
      border-radius: 0;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
  }
}

.w3-form {
  &:not(:last-child) {
    border-bottom: solid 1px #dcdcdc;
  }
  &__title {
    font-weight: bolder;
    margin: 8px 0;
  }
  &-item {
    display: flex;
    margin-bottom: 16px;
    &__label {
      width: 4em;
      text-align: right;
    }
    &__control {
      margin-left: 16px;

    }
  }
}

.w3-checkbox {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    width: 0;
    height: 0;
  }
  &__checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 16px;
    width: 16px;
    border: solid #dcdcdc 1px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
  }
  &:hover &__checkmark {
    border-color: $primary-hover-color;
  }
  &:active &__checkmark {
    border-color: $primary-active-color;
  }
  input:checked ~  &__checkmark {
    background: $primary-color;
    border-color: $primary-color;
    &::after {
      content: "";
      width: 4px;
      height: 8px;
      border: solid 2px #fff;
      border-top-width: 0;
      border-left-width: 0;
      transform: translate(-50%, -50%) rotate(45deg);
      transform-origin: 50% 50%;
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }
  input[disabled] ~ &__checkmark {
    background: #eee;
  }
  &--checkall {
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: solid 1px #dcdcdc;
  }
}

.w3-checkbox-group {
  display: flex;
  margin-bottom: 4px;
  .w3-checkbox {
    min-width: 50px;
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
}